{% extends 'base.html' %}

{% block body %}
<div class="teste-bg container-fluid">
    <div class="row p-5">
        <div class="card col-sm m-2" style="width: 18rem;">
          <img src="/static/img-team/kams.jpg" class="card-img-top mt-3 tam" alt="Foto-de-Kamila">
          <div class="card-body text-center">
              <h5 class="card-title">Kamila Salustiano</h5>
              <p class="card-text">Marketing Manager</p>
          </div>
        </div>
        <div class="card col-sm m-2" style="width: 18rem;">
          <img src="/static/img-team/bea.jpg" class="card-img-top mt-3 tam" alt="Foto-de-Beatriz">
          <div class="card-body text-center">
              <h5 class="card-title">Beatriz Passos</h5>
              <p class="card-text">Graphic Designer</p>
          </div>
        </div>
        <div class="card col-sm m-2" style="width: 18rem;">
          <img src="/static/img-team/jorge.jpg" class="card-img-top mt-3 tam" alt="Foto-de-Jorge">
          <div class="card-body text-center">
              <h5 class="card-title">Jorge Trajano</h5>
              <p class="card-text">Software Engineer</p>
          </div>
        </div>
    </div>
</div>

{% endblock %}